body{
    font-family: 'Montserrat', sans-serif;
}

.form-wrapper {
  margin-top: 30px;
  font-family: sans-serif;
}

.form-wrapper h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: 500;
}

input, select {
  width: 300px;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #32CD32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #28a745;
}


.sidebar{
    position: fixed;
    width: 4rem;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
}

.main-content{
  margin-left: 5rem;
  margin-right: 2.5rem;
  margin-top: 2rem;
}

:root {
  interpolate-size: allow-keywords;
}

nav a {
  white-space: nowrap;
  width: 2.5rem;
  overflow-x: clip;
  transition: width 0.35s ease;
  
  &:hover,
  &:focus-visible {
    width: max-content;
  }
}

@layer layout {
  * {
    box-sizing: border-box;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    border: none;
    padding: 0.5rem 0;
    overflow-x: visible;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 4.5rem;
    padding: 1rem;
  }

  nav header{
    display: grid;
      grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding: 0.5rem;
  }

  nav ul {
    a {
      display: grid;
      grid-template-columns: 1.5rem auto;
      gap: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      transition-duration: 0.25s;
      align-items: center;
      background: white;
      border-radius: 0.5rem;
      color: black;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        background: rgb(226, 226, 226);
        color: black;
      }
    }
  }

  .text {
    padding-right: 0.75rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
}
